<!-- <div class="container">
  <a class="logo" routerLink="/home">
    <img src="assets/img/logo.png" alt="logo">
    <h1>NG T-Shirts</h1>
  </a>
  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/products" routerLinkActive="active">Products</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </nav>

</div> -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a class="logo" routerLink="/home">
      <img src="assets/img/logo.png" alt="logo">
      <h1>NG T-Shirts</h1>
    </a>
    <nav>
      <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
      <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
    </nav>
    <!-- <a mat-raised-button [matBadge]="total$|async" matBadgeColor="warn" routerLink="/order">
      <span class="material-icons">
        shopping_cart
      </span>My Cart
    </a> -->
  </mat-toolbar-row>

</mat-toolbar>
