mat-toolbar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5rem;
  nav a {
    text-decoration: none;
    text-transform: uppercase;
    gap: 5rem;
    &:hover {
      transform: scale(1.1);
      transition: all 0.2s ease-in-out;
    }
  }
  .active {
    color: #ffc107;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: aliceblue;
  img {
    width: 3rem;
  }
}

@media screen and (max-width: 768px) {
  mat-toolbar {
    height: 6rem;
  }
  mat-toolbar-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .logo {
      margin-top: 2rem;
    }
  }

  nav a {
    gap: 2rem;
  }
}
