:host {
  height: 100%;
  min-width: 95rem;
  padding: 1rem;
}

p {
  mat-form-field {
    display: block;
    width: 86%;
    margin: 2rem auto;
    min-width: none;
  }
}

.grill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  height: 100%;
  width: 100%;
}
